i {
    font-size: 150%;
    /* color: #006666 */
    color: red;
}

.box {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    font-size: 1.5vw;
    font-weight: bold;
}

.extraLarge {
    width: 1.5%;
    height: 20px;
    padding: 10px;
    background-color: blue;
    float: left;
}

#primeNum {
    font-size: 1.2vw;
    font-weight: bold;
}

.textCol {
    color: #616161;
}

.textColCount {
    color: #28a745;
}

.progress {
    font-size: 1.2vw;
    font-weight: bold;
}